* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  color: #77716b;
  background-color: #F5F5F1;
}

img {
  width: 100%;
  object-fit: cover;
}

h1 {
  padding: 20px;
}

h3 {
  padding-top: 20px;
}

p {
  padding-bottom: 20px;
}

.text {
  padding-top: 50px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 3);
  padding: 30px 10px;
}

.card {
  background-color: white;
}

